body {
    background-color: aliceblue;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#box {
    display: flex;
    margin-top: 20px;
    
}
#box2{
    display:flex;
    align-items: center;
    justify-content: center;
}
.box {
    background: white;
    border: black 1px solid;
    margin: 0 auto;
    
}

.row {
}

button {
    height: 300px;
    width: 300px;
    margin-bottom: 8px;
    font-size: 40px;
}

#box3 {
    display:flex;
    flex-direction: column;
    margin: 10px;
}

h1 {
    font-size: 60px;
}